<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict/>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>451372501B7ED50D00ED9829</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>451372591B7ED50D00ED9829</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4580F41C1B691E9F00C0576F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
